<div>
    <label for="location">Where is your garden?</label>
    <input id="location" [(ngModel)]="location" placeholder="zip code">
</div>

<button (click)="getWeather()" class="btn btn-light"> Show Me Weather </button>
<div>{{location}}</div>

<div *ngIf="weatherReports">
    <!-- <ul>
        <li *ngFor="let report of weatherReports">
            {{report.when}} - {{report.rainfall}} inches
        </li>
    </ul> -->
</div>

<!-- 
<ul>
    <li *ngFor="let report of weatherReports">
        <button (click)="showPrecipitation(report)">{{report.when | titlecase}}</button>
    </li>
</ul>

<div *ngIf="selectedReport">{{selectedReport.rainfall}}</div> -->

<!-- <app-recommendation></app-recommendation> -->
